@charset "utf-8";
/* border-radius mixin */ 
@mixin radius($radius...) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

/* translate */ 
@mixin translate($x: 0, $y: 0){
	-webkit-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}

// flex box
@mixin flex{
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

// 用于实现单行文本居中，垂直于水平方向的居中
@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}

//内阴影 
@mixin innershadow($x: 0, $y: 0, $z: 0, $color: #fff) {
    -moz-box-shadow: $x $y $z $color inset;               /* For Firefox3.6+ */
    -webkit-box-shadow: $x $y $z $color inset;            /* For Chrome5+, Safari5+ */
    box-shadow: $x $y $z $color inset;                    /* For Latest Opera */
}

@mixin outershadow($x: 0, $y: 0, $z: 0, $color: #fff) {
    -webkit-box-shadow: $x $y $z $color;  
    -moz-box-shadow: $x $y $z $color;  
    box-shadow: $x $y $z $color;  
}

@mixin datauri($w, $h, $url){
    width: $w;
    height: $h;
    background: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin crown-icon($w, $h, $url) {
    content: ' ';
    position: absolute;
    display: inline-block;
    top: -0.3rem;
    left: 0;
    width: $w;
    height: $h;
    background: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}