<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title">
    <meta name="keywords" content="火星,直播,主播,火星直播,映客,花椒">
    <link rel="dns-prefetch" href="//cdn-comp.changbaimg.com">
    <!-- 自定义 description-->
    <meta name="description" content="火星直播-火星简介">
    <!-- css 不支持 直接写绝对路径 如/static/xxx/xxx 打包上线会有问题  -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.staticPath %>/css/lib/reset.css">
    <!-- 自定义 title-->
    <title>Title</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="//cbshowhot.cdn.changbaimg.com/-/af05f8d26d0be168/mobile-common2.js"></script> 
    <script src="//cbshowhot.cdn.changbaimg.com/-/effe39bd0757556f/lazysizes.js"></script>
    <script src="//cbshowhot.cdn.changbaimg.com/!/fastclick/1.0.6/fastclick.js"></script>
  </body>
</html>
